{% load static %}
{% block content %}
<div class="w-[300px] mx-auto h-[300px] my-10 bg-white p-6 rounded shadow">
  <h2 class="text-xl font-bold mb-4">Change Password</h2>
  <form method="post">
    {% csrf_token %}
     {% for field in form %}
        <div>
            <label class="block font-medium text-sm text-gray-700">{{ field.label }}</label>
            <div class="border">{{ field }}</div>
            {% if field.errors %}
                <p class="text-red-500 text-sm">{{ field.errors }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="bg-green-600 mt-5 hover:bg-blue-600 text-white px-4 py-2 rounded">Change</button>
  </form>
</div>
{% endblock %}
