<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% load static %}
   
    <title>Visitor Management System</title>
    <link rel="stylesheet" href="{% static 'output/styles.css' %}">
</head>

<body class="text-gray-800 bg-gray-200">
    <header class="bg-blue-600 text-white">
        <div class="container mx-auto flex justify-between items-center py-4 px-6">
            <h1 class="text-2xl font-bold">LOGO</h1>
            <div>
                <span class="text-sm">Welcome, {{ user.username }}</span>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="bg-blue-500 text-black py-4 inset-x-0 bottom-0">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Visitor Management System. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
